{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container push-below-nav mb-5">
  <div class="row pt-4">
    <div class="col">
      <div class="auth-header">
        <h1>{% trans "Sign Up" %}</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>
      </div>
      <form class="signup form-width auth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="center-button">
          <button class="btn btn-lg px-4 my-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}