/*------------------------------------- General Styling */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: calc(100% - 56px);
    padding-bottom: 120px;
}

.active {
    color: #ff6600 !important;
}

#msg {
    position: fixed;
    top: 112px;
    right: 50%;
    transform: translate(50%);
    z-index: 1100;
    min-width: 250px;
    animation-name: fadein;
    animation-duration: 0.75s;
}

.alert-dark {
    background-color: #212529;
    color: #fff;
    border-radius: 0;
    border-color: #fff;
}

.push-below-nav {
    margin-top: 56px;
}

.justify-text {
    text-align: justify;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-width {
    max-width: 700px;
}

.center-button {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    min-width: 175px;
    color: #000;
    background-color: #ff6600;
    border: #ff6600;
}

.btn:hover {
    background-color: #db610f;
    border-color: #db610f;
    color: #fff;
}

.asteriskField {
    display: none;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
}

.btn-secondary:hover {
    background-color: #000;
    color: #fff;
    border: solid 1px #000;
}

/*------------------------------------- Home Page Styling */


.home-card {
    border: none;
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
}

/*------------------------------------- About Page Styling */
.about-img {
    width: 100%;
    border-radius: 5px;
    border: solid 1px;
}

/*------------------------------------- Account Page Styling */


/*------------------------------------- Auth forms Styling */
.auth-header {
    text-align: center;
}

.auth-form {
    margin: auto;
}

/*------------------------------------- Animations */
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}