{% extends 'base.html' %} {% block content %}
{% load static %}


<!-- Header -->
<header id="about-header" class="bg-dark bg-gradient py-5 push-below-nav">
    <div class="container px-5">
        <div class="row row-cols-1 row-cols-lg-2 gx-5 align-items-center">
            <div class="col text-white text-center">
                <h1 class="display-5 fw-bolder mb-4 pb-3 border-bottom">John Breedon</h1>
                <p>I have been playing bass for over 30 years, during which time I have toured the
                    world with different bands and have played on dozens of commercial releases. I started tutoring in
                    2006 in order to share my experience and help people get the same joy out of playing bass that I do
                </p>
                <p>In my time tutoring, I have worked with learners of all ages, from school age right through to 75
                    (it's never too late to learn!). I'm experienced in many different styles and techniques, so
                    whatever your goal is I will be able to help you reach it.</p>
                <p>You can see my prices below. To book a lesson, you can register to the website and head to the
                    bookings page.</p>
            </div>
            <div class="col img-container">
                <img src="{% static 'images/image-of-tutor.webp' %}" class="about-img"
                    alt="Bass tutor playing his guitar">
            </div>
        </div>
    </div>
</header>

<!-- Testimonials section -->
<section class="py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Student testimonials</h2>
            <p class="lead mb-0">See what my other students have to say about learning with me:</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 gx-3 gy-3 justify-content-center">
            <!-- Testimonial 1-->
            <div class="col">
                <div class="card h-100 flex-row align-items-center">
                    <div class="card-body p-4 text-center">
                            <p class="mb-1">django content goes here</p>
                            <div class="small text-muted">- More django content goes here</div>
                    </div>
                </div>
            </div>
            <!-- Testimonial 2-->
            <div class="col">
                <div class="card h-100 flex-row align-items-center">
                    <div class="card-body p-4 text-center">
                            <p class="mb-1">The whole team was a huge help with putting things together for our
                                company and brand. We will be hiring them again in the near future for
                                additional work!</p>
                            <div class="small text-muted">- More django content goes here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}