{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="John Breedon Bass Tuition, an experienced bass guitar tutor based in the north-east">
    <meta name="keywords" content="john breedon, bass tutor, bass tuition, bass lessons, learn bass guitar">
    <meta name="author" content="Adam Hatton">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Style tag used in head to overcome issue of serving a background image from Cloudinary -->
    <style>
        #home-header {
            background: linear-gradient(to bottom, rgba(0,0,0,.85), rgba(0,0,0,.5)), url('{% static "images/person-playing-bass-guitar.webp" %}') center center / cover no-repeat;
        }
    </style>
    <title>John Breedon Bass Tuition</title>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'home' %}">JB Tuition</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {# Scrollspy classes only needed for Home and Contact, so first loop checks if either is active and adds active + aria #}
                    {% for path, name in navlinks_scrollspy.items %}
                        {% if request.path == path %}
                        <li class="nav-item"><a class="nav-link active scrollspy-link" aria-current="page" href="{% url name %}">{{ name|capfirst }}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link scrollspy-link" href="{% url name %}">{{ name|capfirst }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {# Second loop checks remaining nav-items that don't need authentication and adds active + aria #}
                    {% for path, name in navlinks.items %}
                        {% if request.path == path %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url name %}">{{ name|capfirst }}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url name %}">{{ name|capfirst }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {# This section renders the login/logout links with active and aria classes if necessary #}
                    {% if user.is_authenticated %}
                        {% if request.path == '/accounts/logout/' %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                        {% endif %}
                    {% else %}
                        {% if request.path == '/accounts/signup/' %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">Register</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
                        {% endif %}

                        {% if request.path == '/accounts/login/' %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <!-- Messages -->
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; John Breedon <span id="copyright-year"></span></p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>