{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Header-->
<header id="home-header" class="bg-dark py-5 scrollspy">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-4">John Breedon Bass Tuition</h1>
                <div class="d-flex flex-column align-items-center">
                    <a class="btn btn-lg px-4 my-2" href="#features">Sign Up</a>
                    <a class="btn btn-lg px-4 my-2" href="#!">Book a Lesson</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Key information section-->
<section class="border-bottom py-4 bg-light bg-gradient">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-lg-3 gy-4 gy-lg-0">
            <div class="col">
                <div class="card h-100 text-center bg-dark bg-gradient">
                    <img src="{% static 'images/bass-guitar.webp' %}" class="card-img-top"
                        alt="The body of a bass guitar">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Expert Tutor</h2>
                        <p class="card-text mt-4">I have been playing bass for over 20 years, and have been tutoring for 10
                            of those.
                            I have tutored students of all ages and abilities, so you can be sure you're in safe hands!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center bg-dark bg-gradient">
                    <img src="{% static 'images/open-laptop.webp' %}" class="card-img-top"
                        alt="An open laptop on a desk">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Learn online or in person</h2>
                        <p class="card-text mt-4">Want to start learning but don't have time to travel? No problem, I offer
                            online lessons as well!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center bg-dark bg-gradient">
                    <img src="{% static 'images/sheet-music.webp' %}" class="card-img-top"
                        alt="A close up image of some sheet music">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Play your way</h2>
                        <p class="card-text mt-4">Whether there's a particular song you've always wanted to play or you just
                            want to
                            expand your music theory skills, I will tailor your lessons to your goals. Playing bass
                            should be
                            fun and I will help you play what you want to play whilst making sure that you're learning
                            the
                            proper techniques</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Customer testimonials</h2>
            <p class="lead mb-0">Our customers love working with us</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">Thank you for putting together such a great product. We loved
                                    working with you and the whole team, and we will be recommending you to others!
                                </p>
                                <div class="small text-muted">- Client Name, Location</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1">The whole team was a huge help with putting things together for our
                                    company and brand. We will be hiring them again in the near future for
                                    additional work!</p>
                                <div class="small text-muted">- Client Name, Location</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section class="bg-light py-5 scrollspy">
    <div class="container px-5 my-5 px-5">
        <div class="row justify-content-center">
        <div class="text-center mb-5">
            <h2 id="contact-header" class="fw-bolder">Get in touch</h2>
            <p class="lead mb-0">If you want to know more before booking a lesson then drop me a message!</p>
        </div>
        <form id="contact-form" method="POST" action="/contact/">
            {% crispy contact_form contact_form.helper %}
        </form>
    </div>
    </div>
</section>

{% endblock %}