{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Header-->
<header id="home-header" class="bg-dark py-5 scrollspy push-below-nav">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-4">John Breedon Bass Tuition</h1>
                <div class="d-flex flex-column align-items-center">
                    <a class="btn btn-lg px-4 my-2" href="#!">Sign Up</a>
                    <a class="btn btn-lg px-4 my-2" href="#!">Book a Lesson</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Key information section-->
<section class="border-bottom py-4 bg-light bg-gradient">
    <div class="container my-4">
        <div class="text-center mb-5">
            <h2 id="info-header" class="fw-bolder">Learn to play bass</h2>
            <p class="lead mb-0">Learn with me and you'll get:</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-lg-3 gy-4 gy-lg-0 justify-content-center">
            <div class="col">
                <div class="card h-100 text-center text-white bg-dark bg-gradient home-card">
                    <img src="{% static 'images/bass-guitar.webp' %}" class="card-img-top"
                        alt="The body of a bass guitar">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Expert Tutor</h2>
                        <p class="card-text mt-4">I have been playing bass for over 30 years, and have been tutoring for 15
                            of those.
                            I have tutored students of all ages and abilities, so you can be sure you're in safe hands!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center text-white bg-dark bg-gradient home-card">
                    <img src="{% static 'images/open-laptop.webp' %}" class="card-img-top"
                        alt="An open laptop on a desk">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Online learning</h2>
                        <p class="card-text mt-4">Want to start learning but don't have time to travel? No problem, I offer
                            online lessons as well offering lessons in person!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center text-white bg-dark bg-gradient home-card">
                    <img src="{% static 'images/sheet-music.webp' %}" class="card-img-top"
                        alt="A close up image of some sheet music">
                    <div class="card-body">
                        <h2 class="card-title border-bottom pb-3">Play your way</h2>
                        <p class="card-text mt-4">Whether there's a particular song you've always wanted to play or you just
                            want to
                            expand your music theory skills, I will tailor your lessons to your goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Prices section-->
<section class="border-bottom py-4">
    <div class="container my-5">
        <div class="text-center mb-5">
            <h2 id="prices-header" class="fw-bolder">Prices</h2>
            <p class="lead mb-0">My standard prices are as follows:</p>
        </div>
        <div class="row gy-4 gy-lg-0 justify-content-center">
            <div class="col-10 col-md-5">
                <div class="card h-100 text-center text-white bg-dark bg-gradient py-4">
                    <div class="card-body">
                        <p class="text-uppercase fw-bold">Individual</p>
                        <p>
                            <span class="display-4 fw-bold">£20</span>
                            <span>/ session</span>
                        </p>
                        <a href="#" class="btn btn-lg px-4 my-2">Book</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5">
                <div class="card h-100 text-center text-white bg-dark bg-gradient py-4">
                    <div class="card-body">
                        <p class="text-uppercase fw-bold">Group</p>
                        <p>
                            <span class="display-4 fw-bold">£30</span>
                            <span>/ session</span>
                        </p>
                        <a href="#contact-form" class="btn btn-lg px-4 my-2">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact section-->
<section class="bg-light py-5 scrollspy">
    <div class="container px-5 my-5 px-5">
        <div class="row justify-content-center">
        <div class="text-center mb-5">
            <h2 id="contact-header" class="fw-bolder">Get in touch</h2>
            <p class="lead mb-0">If you want to know more before booking a lesson then drop me a message!</p>
        </div>
        <form id="contact-form" class="form-width" method="POST" action="/contact/">
            {% crispy contact_form contact_form.helper %}
        </form>
    </div>
    </div>
</section>

{% endblock %}